{{> head}}
    {{> navbar}}
    <div class="row">

<div class="col-6"> 
    <h1>Capitan America</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br> 
        Modi perferendis earum quo tempore, velit nulla fugiat ea? Laboriosam ipsum ratione possimus laudantium fuga, enim deleniti, 
        <br>pariatur reiciendis alias culpa perspiciatis.
    </p>
</div>
<div class="col-2">
    <img src="assets/img/capitan-america.png" class="img-thumbnail">
</div>


    </div>
{{> footer}}